* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1447px;
    padding: 0 40px;
    margin: 0 auto;
}

.headers {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
}

.header-left-box {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    gap:  60px;
}

.header-link {
    text-decoration: none;
    font-size: 14px ;
    font-weight: 600;
    line-height: 18px;
    color: #3F4E65;
}

.input {
    background-color: #EDEDED;
    border: 0;
    outline: none;
}


.input-d {
    display: flex;
    background-color: #EDEDED;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    padding: 20px;
    width: 263px;
}

.input-d::after {
    content: "";
    width: 39px;
    height: 39px;
    background-image: url(../Img/syorch.png);
}



.btn-katalog {
    padding: 25px;
    border-radius: 50px;
    border: none;
    background-color: #FFC85E;
    align-items: center;
}